<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img src="img/img1.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title"> Card title </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img src="img/img1.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title"> Card title </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img src="img/img1.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title"> Card title </h3>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>