<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="text-center pt-3">Loader pour vos scripts
				<em>AJAX</em>
				et autres
			</h1>
		</div>
	</div>

	<div class="row justify-content-between mt-3">
		<div class="col-lg-3">
			<div class="loader loaderColor1"></div>
		</div>
		<div class="col-lg-3">
			<div class="loader loaderColor2"></div>
		</div>
		<div class="col-lg-3">
			<div class="loader loaderColor3"></div>
		</div>
		<div class="col-lg-3">
			<div class="loader loaderColor4"></div>
		</div>
	</div>

</div>
