
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="pl-0 mb-0 menu">
                <li> <a href="#" class="deroulant">Lien1</a>
                    <ul>
                        <li> <a href="#">Sous lien1</a> </li>
                        <li> <a href="#">Sous lien2</a> </li>
                        <li> <a href="#">Sous lien3</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Lien2</a> </li>
                <li> <a href="#" class="deroulant">Lien3</a>
                    <ul>
                        <li> <a href="#" class="deroulant">Sous lien</a>
                            <ul>
                                <li> <a href="#">Sous sous lien</a> </li>
                                <li> <a href="#">Sous sous lien</a> </li>
                            </ul>
                        </li>
                        <li> <a href="#">Sous lien</a> </li>
                        <li> <a href="#">Sous lien</a> </li>
                        <li> <a href="#">Sous lien</a> </li>
                        <li> <a href="#">Sous lien</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Lien4</a> </li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6">
            <p class="text-justify pclip">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus recusandae, impedit enim sed vitae saepe quidem itaque a modi sapiente voluptates illo, exercitationem similique neque temporibus dignissimos dolorum minima repellat.
                Ducimus iste veniam modi tempore molestias obcaecati minima impedit odio ex dolorum minus ipsam iusto quidem aut accusantium, possimus nesciunt temporibus consequatur. Quam impedit aut, laudantium blanditiis labore tempora consequatur!
                Non, est! Nihil sit sapiente ab voluptatibus vitae! Dicta alias sit aliquam adipisci voluptate perspiciatis non enim eligendi consectetur, consequatur fugiat dolores debitis, quis nam consequuntur! Reiciendis vero molestiae excepturi.    
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="menu1">
                <li>Elements
                    <ul>
                        <li>Sous element</li>
                        <li>Sous element</li>
                        <li>Sous element</li>
                        <li>Sous element</li>
                    </ul>
                </li>
                <li>Elements</li>
                <li>Elements</li>
                <li>Elements</li>
            </ul>
        </div>
    </div>
</div>