<!-- footer //-->
<div class="container-fluid footer mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-auto mr-4">
            <h5>liens</h5>
            <ul class="list-unstyled">
                <li><a href="">Lorem, ipsum.</a></li>
                <li><a href="">Explicabo, praesentium?</a></li>
                <li><a href="">Impedit, quas.</a></li>
                <li><a href="">Sequi, deserunt!</a></li>
            </ul>
        </div>
        <div class="col-lg-auto mr-4">
            <h5>Produits</h5>
            <ul class="list-unstyled">
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
            </ul>
        </div>
        <div class="col-lg-auto mr-4">
            <h5>Ressources</h5>
            <ul class="list-unstyled">
                <li><a href="">Lorem, ipsum.</a></li>
                <li><a href="">Laudantium, voluptatibus!</a></li>
                <li><a href="">Inventore, totam.</a></li>
                <li><a href="">Eaque, suscipit.</a></li>
                <li><a href="">Molestias, qui!</a></li>
            </ul>
        </div>
        <div class="col-lg-auto mr-4">
            <h5>Nous rejoindre</h5>
            <ul class="list-unstyled">
                <li><a href="">Lorem, ipsum.</a></li>
                <li><a href="">Cumque, voluptas.</a></li>
                <li><a href="">Dolore, dolores!</a></li>
                <li><a href="">Adipisci, voluptate?</a></li>
            </ul>
        </div>
        <div class="col-lg-auto mr-4">
            <h5>Contacts</h5>
            <ul class="list-unstyled">
                <li><a href="">Lorem, ipsum.</a></li>
                <li><a href="">Quidem, voluptas!</a></li>
                <li><a href="">Dolor, quod.</a></li>
            </ul>
        </div>
    </div>
</div>